<div class="about text-center">
    <img src="{{ asset_path 'images/webpack-logo.svg' }}" class="logo img-responsive"/>
    <h1>Welcome to use koajs-templates/handlebars template.</h1>
    <h2>Learn more about
      <a href="https://github.com/koajs-templates/handlebars.git">koajs-templates/handlebars</a>.
    </h2>
    <a href="/">Go to home</a>
</div>